_PIP_ADDITIONAL_REQUIREMENTS=boto3

# Database Credentials
POSTGRES_USER=airflow
POSTGRES_PASSWORD=supersecret_db_password

# MinIO Credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=supersecret_minio_password

# Email Alerting
ALERT_EMAIL=dsforasmi1@gmail.com
SMTP_MAIL_FROM=yourgmail@gmail.com